<%- partial('../sidebar') %>

<div id='content'>
    <div class='panel'>
        <div class='header'>
            <ul class='breadcrumb'>
                <li><a href='/'>主页</a><span class='divider'>/</span></li>
                <li class='active'>关于</li>
            </ul>
        </div>
        <div class='inner topic'>
            <h3>关于</h3>
            <hr/>
            <div class="topic_content">
                <p>ngclub.cn 采用nodeclub开源项目搭建，努力打造一个全新的AngularJs中文社区。在这里您可以做一位牛哥(ng)，分享自己的经验和开源项目；也可以当一名热心极客，帮小伙伴解答疑惑！您的贡献，将是NG Club发展的动力。欢迎您的加入！
                </p>
            </div>
        </div>
    </div>
</div>
